.slider {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.slider__slides {
  position: absolute;
  top: 0;
  left: 25%;
  width: 300%;
  height: 100%;
  display: flex;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.slider__slides img {
  width: 15%;
  height: 100%;
}

.slider__controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__controls button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}